/* **************** MAIN ******************* */

body {
margin:0 0 0 0;
padding:0;
text-align: center;
background: #FFFFFF;
}
body.informationpage {
margin:0 0 0 0;
padding:0;
text-align: center;
background: white;
}

p {
display: inline-block;
max-width: 500px;
padding-top: 0px;
padding-bottom: 50px;
font-family: 'Roboto', sans-serif;
font-weight:400;
font-size:18px;
line-height: 30px;
color: #000000;
margin: 0;
text-align: left;
}
p.centered {
display: inline-block;
max-width: 500px;
padding-top: 0px;
padding-bottom: 50px;
font-family: 'Roboto', sans-serif;
font-weight:400;
font-size:18px;
line-height: 30px;
color: #000000;
margin: 0;
text-align: center;
}
p.informationpage {
margin-left: auto;
margin-right: auto;
text-align: left;
max-width: 800px;
color: black;
}

p.primarylink {
display: inline-block;
max-width: 200px;
font-weight:500;
color: #FF80AB;
}


p.footer {
max-width: 100%;
width:100%;
padding-top: 50px;
padding-bottom: 50px;
font-weight:300;
font-size:12px;
background-color: #FFFFFF;
margin-left: 0;
margin-right: 0;
margin-top:50px;
margin-bottom: 0;
}

p.navigation {
width: 100%;
max-width: 100%;
vertical-align:middle;
text-align: left;
font-size: 50px;
line-height: 50px;
font-weight:500;
color: rgba(63, 81, 181, 1);
padding:10px 0px 10px 10px;
margin-left: 0px;
margin-right: 0;
margin-top: 0px;
margin-bottom: 0;
background-color: #FF80AB;
}



h1 {
width:100%;
font-family: 'Roboto', sans-serif;
font-weight:300;
font-size:65px;
line-height: 65px;
margin: 0;
padding: 0;
padding-left:0%;
padding-top: 75px;
padding-bottom: 75px;
background: #303030;
color: rgba(255,255,255,0.9);
text-align: center;

}

h1.informationpage {
display: inline-block;
max-width: 800px;
background: white;
color: rgba(63, 81, 181, 1);
}


h2 {
font-family: 'Roboto', sans-serif;
font-weight:500;
font-size:18px;
padding-top: 50px;
padding-bottom: 15px;
margin: 0;
color: rgba(0,0,0,0.3);
text-align: center;

}

h2.informationpage {
display: inline-block;
max-width: 800px;
font-family: 'Roboto', sans-serif;
font-weight:500;
margin:0;
font-size:40px;
padding-top: 0px;
padding-bottom: 50px;
color: black;
text-align: left;
}

h3 {
display: inline-block;
max-width: 600px;
font-family: 'Roboto', sans-serif;
font-weight:500;
margin:0;
font-size:40px;
padding-top: 0px;
padding-bottom: 50px;
color: rgba(0,0,0,0.95);
text-align: center;

}

h4 {
font-family: 'Roboto', sans-serif;
font-weight:400;
padding-left:0%;
font-size:18px;
color: rgba(0,0,0,0.54);
line-height: 40px;
margin:0;
margin-bottom: 6.5px;
padding:0;
text-align: center;

}

a:link,a:visited {
color: rgba(0, 0, 0, 0.75);
text-decoration:none;
text-transform:none;
}
a:hover,a:active {
color:#FF80AB;
}
a.primarylink:link,a.primarylink:visited {
color: #FF80AB;
text-decoration:none;
text-transform:none;
}
a.primarylink:hover,a.primarylink:active {
color:#FF80AB;
font-size:20px;
}
a.navigation:link,a.navigation:visited {
color: rgba(63, 81, 181, 1);
text-decoration:none;
text-transform:none;
}
a.navigation:hover,a.navigation:active {
color:white;
font-size:55px;
}


hr {
margin-top: 0px;
margin-bottom: 0px;
border-color: rgba(0,0,0,0.25);
}


}


#navigateback{
    clear:left;
	width: 10%;
	float: left;
	margin-right: 0%;
	margin-left: 0%;
}
